@inherits LayoutComponentBase
<div class="container">
        <h1 class="text-center">Token prince</h1>
        <h3 class="text-center">Get tokens prices using only on-chain data</h3>
        @Body
</div>