@using Nethereum.Web3
@using TokenPrice.Core.Chainlink
@using TokenPrice.Web.Data
@using TokenPrice.Web.Models
@using System.Threading
@using System.Threading.Tasks

<tr>
    <td>@TokenInfo.Name</td>
    <td>@TokenInfo.LastPriceEth.ToString()</td>
</tr>

@code {
    [Parameter]
    public TokenInformation TokenInfo { get; set; }
}
